SQLAlchemy==1.1.0b3
cherrypy==8.1.2
bottle==0.12.10
boto==2.43.0
requests
nltk==3.2.3
keras==1.1.0
line_profiler
pytest
tqdm
python-Levenshtein
futures
jsonpickle
prettytable
tensorboard_logger
click
pympler
bert-score==0.3.13
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
matplotlib==3.3.4
numpy==1.19.5
pandas==1.1.5
pyhocon==0.3.60
scipy==1.5.4
tokenizers==0.12.1
torch==1.2.0
tqdm==4.64.0
transformers==4.18.0

